*{
    margin: 0px;
    padding: 0px;
}


/* fonts familly list  */

/*
font-family: 'Raleway', sans-serif;

font-family: 'Saira Semi Condensed', sans-serif;
AZ
font-family: 'Secular One', sans-serif;

font-family: 'Segoe UI', sans-serif;
                                                
*/


